<footer class="section-footer">
	<div>
		<div class="container text-center">
			<div class="row kontakt-text">
				<div class="col col-logo-footer">
					<a href="/">
						<img
								class="logo logo-footer"
								src="https://public.andret.eu/.teratai/logo.jpg"
								alt="logo"
						/>
					</a>
				</div>
				<div class="col kontakt-custom">
					<p class="section-headline text-center">Kontakt</p>
					<p>
						<a href="tel:+48731980094">
							<i class="fa-solid fa-phone"></i>&nbsp;(+48)&nbsp;731-980-094
						</a>
					</p>
					<p>
						<a href="mailto:masaz.marcinzajac@gmail.com">
							<i class="fa-solid fa-envelope"></i>&nbsp;masaz.marcinzajac@gmail.com
						</a>
					</p>
					<p>
						<a href="https://www.google.pl/maps/search/ul.+Wierzbowa+66B%2F1/@50.121619,19.8775244,17z/data=!3m1!4b1?entry=ttu">
							<i class="fa-solid fa-location-dot"></i>&nbsp;32-085 Modlnica
						</a>
					</p>
				</div>
				<div class="col kontakt-custom">
					<p class="section-headline text-center">Social media</p>
					<a href="https://www.facebook.com/profile.php?id=100065299127742">
						<i class="fa-brands fa-square-facebook social-media"></i>
					</a>
					<a href="https://instagram.com/teratai_massage_therapy?igshid=YTQwZjQ0NmI0OA%3D%3D&utm_source=qr">
						<i class="fa-brands fa-instagram social-media"></i>
					</a>
					<a href="https://www.tiktok.com/@teratai_massage_therapy?_t=8i7SM3kn1hw&_r=1">
						<i class="fa-brands fa-tiktok social-media"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
