<nav class="navbar navbar-expand-lg pt-lg-3 navbar-color">
	<div class="container-fluid d-lg-none">
		<a class="navbar-brand" href="/static">
			<img class="logo-img" src="https://public.andret.eu/.teratai/logo.webp">
		</a>
		<button
				class='navbar-toggler'
				type='button'
				data-bs-toggle='collapse'
				data-bs-target='#navbarSupportedContent'
				aria-controls='navbarSupportedContent'
				aria-expanded='false'
				aria-label='Toggle navigation'
		>
			<span class='navbar-toggler-icon'></span>
		</button>
	</div>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item dropdown">
				<a
						class="nav-link dropdown-toggle nav-custom"
						data-bs-toggle="dropdown"
						href="#"
						role="button"
						aria-expanded="false"
				>
					Rodzaje masażu
				</a>
				<ul class="dropdown-menu" style="width: 350px; background-color: #423F3E">
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/balijski">
							Masaż balijski
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/tajski">
							Masaż tajski
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/klasyczny">
							Masaż klasyczny
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/stemplami-ziolowymi">
							Masaż stemplami ziołowymi
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/bambusami">
							Masaż bambusami i miotełkami
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/goracymi-kamieniami">
							Masaż gorącymi kamieniami
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/hawajski">
							Masaż hawajski Lomi Lomi Nui
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/tajski-stop">
							Tajski masaż stóp
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/aromaterapia">
							Masaż aromaterapeutyczny
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/ajurwedyjskie/abhyanga">
							Masaż abhyanga
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/ajurwedyjskie/udvartana">
							Masaż udvartana
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/ajurwedyjskie/upanhasveda">
							Masaż upanhasveda
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/ajurwedyjskie/shiroabhyanga">
							Masaż shiroabhyanga
						</a>
					</li>
					<li>
						<a class="dropdown-item nav-dropdown-menu-custom" href="/masaze/ajurwedyjskie/ratnaabhyanga">
							Masaż ratnaabhyanga
						</a>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-custom" href="/cennik">Cennik</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-custom" href="/pakiety">Pakiety</a>
			</li>
			<li class="nav-item d-none d-lg-block">
				<a href="/">
					<img alt="logo" class="logo-img" src="https://public.andret.eu/.teratai/logo.webp"/>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-custom" href="/omnie">O mnie</a>
			</li>
			<li class="nav-item">
				<a class="nav-link nav-custom" href="/kontakt">Kontakt</a>
			</li>
		</ul>
	</div>
</nav>
