<div class="section-hello">
	<div class="section text-container text-center">
		<h2 class="section-title text-center" th:text="${invite}"></h2>
		<p class="section-headline text-center" th:text="${introduce}"></p>
		<p class="section-text text-center" th:text="${text}"></p>
		<div style="margin-top: 10px; width: auto; display: inline-block; border: 2px solid bisque; border-radius: 10px; padding: 10px; transition: all 0.3s ease;">
			<a href="tel:+48731980094">
				<i class="fa-solid fa-phone"></i>&nbsp;Umów się na masaż
			</a></div>
	</div>
</div>
