<a class="image-container" th:fragment="tile(title, text, photoUrl, alt, url)" th:href="${url}">
	<img class="kafelki img-fluid"
		 th:src="${photoUrl}"
		 th:alt="${alt}"/>
	<div th:utext="${title}" class="text text-title"></div>
	<div class="middle" th:if="${text != null || text == ''}">
		<div th:utext="${text}" class="text"></div>
	</div>
</a>
