* {
    font-size: 20px;
    background-blend-mode: darken;
}

body {
    background-color: #423f3e;
}

.nav-custom {
    color: #b2ac9a;
    margin-top: 20px;
}

.nav-custom:hover {
    color: bisque;
}

.nav-dropdown-menu-custom {
    color: bisque;
}

.nav-dropdown-menu-custom:hover {
    color: #272726;

}

.nav-custom:focus {
    color: bisque !important;
}

.logo-img {
    display: inline !important;
    width: 200px;
}

.all-nav {
    margin-top: 40px;
}

.nav-item {
    margin: 0 20px 20px;
    width: 180px;
    text-align: center;
    border: none !important;
}

.content-section {
    background-color: #272726 !important;
}

.navbar-color {
    background-color: #272726 !important;
    color: #eeebeb !important;
}

.navbar-toggler {
    background-color: #ebebeb !important;
}

.navbar-nav {
    margin: auto;
}

.main-photo {
    width: 100vw;
    object-fit: cover;
    height: 530px;
}

.section-hello, .section-hello * {
    background-color: #272726 !important;
}

.section-cennik, .section-cennik * {
    background-color: #423f3e !important;
}

.section-footer * {
    background-color: #272726 !important;
    margin-top: 30px;
}

.section-hello {
    padding: 72px 0;
}

.section-title {
    color: bisque;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
}


.section-headline {
    color: #eeebeb !important;
    font-weight: 100;
    font-size: 30px;
    margin: unset;
}

.section-invite {
    color: #eeebeb !important;
    font-weight: 100;
    font-size: 25px;
}

.section-text {
    color: #eeebeb;
    font-size: 17px;
    font-weight: 70;
}

.opis-masazy {
    width: 300px !important;
}

.section-kafelki, .section-kafelki * {
    background-color: #423F3E !important;
}

.section-kafelki {
    padding-bottom: 70px;
    margin-bottom: -30px;
}

.logo {
    display: inline !important;
    width: 200px;
}


.text-container {
    padding: 0 250px;
    padding-bottom: 10px !important;
}

.logo-footer {
    margin-bottom: 120px;
}

.image-container {
    position: relative;
    max-width: 400px;
    margin: auto;
    display: block;
}

.kafelki {
    width: 400px;
    margin-bottom: 30px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    background: unset !important;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

}

.image-container:hover .kafelki {
    opacity: 0.3;
}

.image-container:hover > .text {
    opacity: 0;
}

.image-container:hover .middle {
    opacity: 70%;
}

.middle > .text {
    color: white;
    font-size: 20px;
    background: none !important;
    padding: 15px;
}

.image-container > .text {
    position: absolute;
    top: 50%;
    text-align: center;
    color: #eeebeb;
    background: black !important;
    opacity: 0.7;
    font-size: 28px;
    width: 100%;
    font-weight: 600;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.table-custom {
    margin-bottom: 70px;
}

.table-custom td {
    color: #eeebeb;
}

.kontakt-text {
    color: #eeebeb;
}

.kontakt-custom p {
    margin: 0;
}

.social-media {
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #eeebeb !important;
}

.footer-custom {
    color: #eeebeb;
}

a {
    text-decoration: none;
    color: #eeebeb;
}

a:hover {
    color: bisque;
}

.omnie-custom {
    width: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.omnie-container {
    background-color: #272726 !important;
    margin-bottom: 50px;
    color: #eeebeb;
    padding: 30px 20px;
}

.omnie-container p {
    background-color: #272726 !important;
    color: #eeebeb;
    margin: 16px 0;
}

.cennik-headline {
    font-size: 25px;
    color: #C69774 !important;
}

.text-center {
    margin-top: 20px;
}

.title {
    color: bisque !important;
    font-size: 50px;
    letter-spacing: 2px;
    padding: 30px;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .text-container {
        padding: 0 60px !important;
    }

    .col-logo-footer {
        display: none !important;
    }

    .main-photo {
        height: auto;
    }

    .section-invite {
        padding: 0 !important;
    }

    td, td a {
        font-size: 16px;
    }

    .omnie-custom {
        width: 400px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .section-cennik > div {
        padding-top: 0 !important;
    }

    .omnie-container {
        margin-top: 0 !important;
    }

    .nav-custom {
        margin-top: 0 !important;
    }

    .nav-item {
        margin-bottom: 0;
    }

    .animate .kafelki {
        opacity: 0.3;
    }

    .animate > .text {
        opacity: 0;
    }

    .animate .middle {
        opacity: 70%;
    }
}
