<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{components/head}"></div>
<body>
<div th:replace="~{components/nav}"></div>
<img class="main-photo img-fluid"
	 src="https://public.andret.eu/.teratai/main-photo.jpg"
	 alt="kamienie-na-plecach-masaz"/>
<div th:replace="~{components/section-hello}"></div>

<section class="section-kafelki">
	<div class="container">
		<h2 class="section-title text-center"
			th:text="${text1}"></h2>
		<p class="section-headline text-center"
		   th:text="${text2}"><br/></p>
		<div class="container text-center row">
			<div class="col-12 col-xl-4 col-lg-6"
				 th:each="tile:${tiles}">
				<div th:replace="~{components/tile :: tile(${tile.getTitle()}, ${tile.getText()}, ${tile.getPhotoUrl()}, ${tile.getAlt()}, ${tile.getUrl()})}">
				</div>
			</div>
		</div>
	</div>
	<p class="section-invite text-center text-container"
	   th:text="${under}"></p>
</section>
<div th:replace="~{components/footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>
</html>
